.change-text {
  font-weight: bolder;
  color: darkcyan;
}

.item-hover:hover {
  background-color: darkcyan;
  color: white;
}

.style-btn {
  text-align: right;
  padding: 0.1em 1.7em;
  background-color: darkslategray;
  border-radius: 5px;
  margin-left: 25px;
  border: none;
  color: gray;
}

.style-btn:hover {
  background-color: gray;
  color: white;
}

.nav {
  margin-top: 0.4em;
}


