<div class="container">

    <div class="row">
        
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
                <h2>Subscriptions</h2>
                <hr>
            <div *ngFor="let subscription of subscriptions; let i = index">
                <div class="card">
                    <div class="card-header header-style">
                        Subscription {{i + 1}}
                    </div>
                    <div class="card-text">
                        License Id:
                        <span class="card-text text-muted">
                            {{subscription.licenseId}}
                        </span>
                    </div>
                    <div class="card-text">
                        Subscription:
                        <span class="card-text text-muted">
                            {{subscription.subscriptionDate}}
                        </span>
                    </div>
                </div>
                <div class="card" *ngFor="let subscribedCourse of subscription.subscribedCourses">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="text-center">
                                <img src="{{subscribedCourse.image}}" alt="" class="img-fluid bg-color img-thumbnail">
                            </div>
                        </div>
                        <div class="col-md-9">

                            <div class="card-text">
                                Course Name:
                                <span class="card-text text-muted">{{subscribedCourse.course}}</span>
                                <span class="card-text text-muted" *ngIf="!subscribedCourse.course">N/A</span>
                            </div>
                            <div class="card-text">
                                Description:
                                <span class="card-text text-muted">{{subscribedCourse.description}}</span>
                                <span class="card-text text-muted" *ngIf="!subscribedCourse.description">N/A</span>
                            </div>
                            <div class="card-text">
                                Duration:
                                <span class="card-text text-muted">{{subscribedCourse.duration}}</span>
                                <span class="card-text text-muted" *ngIf="!subscribedCourse.duration">N/A</span>
                            </div>
                            <div class="card-text">
                                Current Licenses:
                                <span class="card-text text-muted">{{subscribedCourse.license}}</span>
                                <span class="card-text text-muted" *ngIf="!subscribedCourse.license">N/A</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>