* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
}

.card {
    margin-top: 1.5em;
    box-shadow: 2px 2px 2px lightgray;
    background-color: whitesmoke;
    border: none;
    display: block;
    margin-bottom: 1.5em;
}

.card:hover {
    box-shadow: 4px 4px 4px lightslategrey;
} 

.row {
    border-color: lightgray;
}

h2 {
    margin-top: 2.5em;
    font-size: 2.5em;
    color: darkgray;
    text-align: center;

}

hr {
    height: 2px;
    background-color: gray;
    border: none;
    width: 18em;
}


.card-header {
    background-color: lightgrey;
    box-shadow: 2px 2px 2px darkgray;
    border-radius: 5px;
    font-size: 1.5em;
    color: darkslategray;
    text-align: center;
}

.card-title {
    text-align: center;
    font-size: 1.2em;
    text-decoration: underline !important;
    color: black !important;
}

.card-text {
    font-size: 1em;
    padding-top: 0.6em;
    padding-left: 0.8em;
}

p {
    margin-top: 1em;
}

.card .card-img-top {
    height: 160px;
    width: 100%;
}  
.content {
    padding: 0.8em;
}

.style-btn {
    padding: 0.9em 2em;
    background-color: darkslategray;
    border-radius: 5px;
    border: none;
    color: gray;
    height: 50px;
  }
  
  .style-btn:hover {
    background-color: gray;
    color: white;
  }

  .style-btn1 {
    background-color: gray;
    color: white;
  }

  .style-btn1:hover {
    background-color: darkslategray;
    color: white;
  }

  .style-btn2 {
      margin-left: 6px;
      white-space: pre;
  }