<div class="bg-color">
  <div class="container">
    <div class="row shift">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h3 style="font-size: 40px; text-align: center;">Register Employee</h3>
        <hr>
        <br>
        <form [formGroup]="registerForm" (ngSubmit)="btnClick()">

          <!-- Full Name -->

          <div class="form-group">
            <label for="fullName">
              <span class="change">
                <span class="fat">|</span>Name</span>
            </label>
            <input type="text" class="form-control" formControlName="fullName" placeholder="Enter Name">
            <div *ngIf="registerForm.controls['fullName'].hasError('required') && registerForm.controls['fullName'].touched" class="alert alert-danger">
              <small>
                <i>You must include a Full name.</i>
              </small>
            </div>
            <div *ngIf="registerForm.controls['fullName'].hasError('minlength') && registerForm.controls['fullName'].touched" class="alert alert-danger">
              <small>
                <i>Your name must be at least 4 characters long.</i>
              </small>
            </div>
          </div>

          <!-- Gender -->

          <div class="form-group">
            <label for="gender">
              <span class="change">
                <span class="fat">|</span> Gender</span>
            </label>
            <br />
            <label for="male">Male</label>
            <input type="radio" formControlName="gender" value="male" />
            <label for="female" class="move-right">Female</label>
            <input type="radio" formControlName="gender" value="female" />
          </div>

          <!-- Email -->

          <div class="form-group">
            <label for="Email">
              <span class="change">
                <span class="fat">|</span> Email Id</span>
            </label>
            <input type="email" class="form-control" formControlName="email" placeholder="johndoe@example.com" required />
            <div *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched" class="alert alert-danger">
              <small>
                <i>Please enter your complete Email Address</i>
              </small>
            </div>
            <div *ngIf="registerForm.controls['email'].hasError('email') && registerForm.controls['email'].touched" class="alert alert-danger">
              <small>
                <i>Email is invalid</i>
              </small>
            </div>
          </div>

          <!-- Contact -->

          <div class="form-group">
            <label for="contactNo">
              <span class="change">
                <span class="fat">|</span> Contact</span>
            </label>
            <input type="number" class="form-control" formControlName="contactNo" placeholder="Contact" required minlength="10" maxlength="10"
            />
            <div *ngIf="registerForm.controls['contactNo'].hasError('required') && registerForm.controls['contactNo'].touched" class="alert alert-danger">
              <small>
                <i>Please enter your contactNo details</i>
              </small>
            </div>
            <div *ngIf="registerForm.controls['contactNo'].hasError('minlength') && registerForm.controls['contactNo'].touched" class="alert alert-danger">
              <small>
                <i>The mobile number should be of 10 digits only</i>
              </small>
            </div>
            <div *ngIf="registerForm.controls['contactNo'].hasError('minlength') && registerForm.controls['contactNo'].touched" class="alert alert-danger">
              <small>
                <i>The mobile number should be of 10 digits only</i>
              </small>
            </div>
          </div>
          
          <!-- Joining Date -->

          <div class="form-group">
            <label for="joiningDate">
              <span class="change">
                <span class="fat">|</span> Joining Date</span>
            </label>
            <input type="date" class="form-control" formControlName="joiningDate" />
            <div *ngIf="registerForm.controls['joiningDate'].hasError('required') && registerForm.controls['joiningDate'].touched" class="alert alert-danger">
              <small>
                <i> Please enter your Joining date</i>
              </small>
            </div>
          </div>

          
          <!-- Employee Role -->
          <label for="employeeRoles">
            <span class="change">
              <span class="fat">|</span> Employee Roles</span>
          </label>

          <div formArrayName="employeeRoles">
            <div *ngFor="let employeeRoles of registerForm.controls.employeeRoles.controls; let i=index" class="panel panel-default">
              <br>
              <label for="employeeRoles">
                <span class="change text-muted">Employee Role {{i + 1}}</span>
              </label>

              <div class="container" [formGroupName]="i">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <label for="departmentId" class="text-muted">Department</label>
                    <select formControlName="departmentId" class="form-control" (ngModelChange)="onChange($event)">
                      <option *ngFor="let department of departments" [ngValue]="department">{{department.department}}</option>
                      <div *ngIf="registerForm.controls.employeeRoles.controls[i].controls.departmentId.hasError('required') && registerForm.controls.employeeRoles.controls[i].controls.departmentId.touched"
                        class="alert alert-danger">
                        <small>
                          <i>Please select Department Id</i>
                        </small>
                      </div>
                    </select>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="roleId" class="text-muted">Role</label>
                    <select formControlName="roleId" class="form-control" (ngModelChange)="onChanged($event)">
                      <option *ngFor="let roleId of roleIds" [ngValue]="roleId">{{roleId.role}}</option>
                    <div *ngIf="registerForm.controls.employeeRoles.controls[i].controls.roleId.hasError('required') && registerForm.controls.employeeRoles.controls[i].controls.roleId.touched"
                      class="alert alert-danger">
                      <small>
                        <i>Please select Role Id</i>
                      </small>
                    </div>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <button type="button" (click)="addEmployeeRole()" class="btn btn-default makeChange">Add Role
              <span class="fat">+</span>
            </button>
          </div>

          <br>
          <!-- Employee Register Button -->

          <button type="submit" name="register" class="btn-self" [disabled]="registerForm.invalid">
            Submit
          </button>
          <br>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>