<div class="container">

  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <div>
        <h2>
          {{addORedit}} Category
        </h2>
        <hr>
      </div>
      <br><br>

      <!-- Form -->
      <form [formGroup]="addCategoryForm" *ngIf="categoryData">

        <!-- Category Name -->
        <div class="form-group">
          <label for="categoryName">
            <span class="change">
              <span class="fat">|</span>Name</span>
          </label>
          <input type="text" class="form-control" formControlName="categoryName" placeholder="Enter Name">
          <div *ngIf="addCategoryForm.controls['categoryName'].hasError('required') && addCategoryForm.controls['categoryName'].touched"
            class="alert alert-danger">
            <small>
              <i>You must include a Category Name.</i>
            </small>
          </div>
        </div>

        <!-- Category Description -->
        <div class="form-group">
          <label for="categoryDescription">
            <span class="change">
              <span class="fat">|</span>Description</span>
          </label>
          <input type="text" class="form-control" formControlName="categoryDescription" placeholder="Enter Description">
          <div *ngIf="addCategoryForm.controls['categoryDescription'].hasError('required') && addCategoryForm.controls['categoryDescription'].touched"
            class="alert alert-danger">
            <small>
              <i>You must include a Category Description.</i>
            </small>
          </div>
        </div>

        <!-- Upload Category Image -->
        <div class="form-group">
          <img src="" alt="">
          <label for="categoryImage">
            <span class="change">
              <span class="fat">|</span>Upload Image</span>
          </label>
          <div>
            <input type="file" accept="image/*" (change)="fileUpload($event)">
            <span><img src="{{image}}" alt="no image to display" style="width: 6em; height: 6em"></span>
          </div>
        </div>

      </form>
      <!-- End of Form -->

      <button type="button" class="style-btn" (click)="btnClick()">Submit</button>
    </div>
    <div class="col-md-2">
      
    </div>
  </div>
</div>