<div class="container" style="margin-top: 5em;">
  <div class="row">
    <div class="col-md-2">

    </div>

    <div class="col-md-10">
      <h2>Assign Courses</h2>
      <hr>
      <div class="card" style="margin-top: 3em;">
        <div class="card-header header-style">
          <span style="padding: 16px 7em;;text-align: center;" type="button">Employees</span>
          <span style="padding: 16px 7.4em;text-align: center; float: right" type="button">Managers</span>
        </div>
        <div class="card" style="padding: 1.4em;">
            <div class="card-text">
              Employee Name:
              <span class="card-text text-muted">Joseph Bartomeu</span>
            </div>
            <div class="card-text">
              Department:
              <span class="card-text text-muted">Pyschiatry</span>
            </div>
            <div class="card-text">
              Role:
              <span class="card-text text-muted">Manager</span>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>