<div class="container" style="margin-top: 2em;">
  <div class="row">
    <div class="col-md-2">

    </div>

    <div class="col-md-10">
      <h2>Assign Courses</h2>
      <hr>
      <div class="card" style="margin-top: 3em;">
        <div class="card-header header-style">
          <span style="padding: 16px 7em;;text-align: center;" type="button" (click)="btnClickEmployee()">Employees</span>
          <span style="padding: 16px 7.4em;text-align: center; float: right" type="button" (click)="btnClickManager()">Managers</span>
        </div>
        <br>

        <!-- Assigned  -->

        <div>
          <h5 style="text-align:center">Assigned {{empORmanager}}</h5>
          <hr>
          <div class="card" style="padding: 1em;" *ngFor="let assignedStaff of Assigned; let i = index">
            <div class="card" style="padding: 10px;" *ngIf="empORmanager == 'Managers'">
              <span class="card-text">Add License
                <span>
                  <button (click)="btnSubstract(assignedStaff)">-</button>
                  <input type="number" class="text-muted" [(ngModel)]="assignedStaff.license">
                  <button (click)="btnAdd(assignedStaff)">+</button>
                </span>
              </span>
              <br>
              <span class="card-text">Expiry Date:
                <input type="date" [(ngModel)]="assignedStaff.expiredOn">
              </span>
            </div>

            <div>
              <div *ngIf="empORmanager == 'Managers'">
                <span>
                  <input type="checkbox" [(ngModel)]="assignedStaff.checkValue" style="height: 30px; width: 30px; float:right; margin-top: 2em;">
                </span>
              </div>
              <div class="card-text">
                Name:
                <span class="card-text text-muted">{{assignedStaff.fullName}}</span>
              </div>
              <div *ngFor="let roleInfo of assignedStaff.roleInfo">
                <div class="card-text">
                  Department:
                  <span class="card-text text-muted">{{roleInfo.department}}</span>
                </div>
                <!-- <div class="card-text">
                  Role:
                  <span class="card-text text-muted">{{roleInfo.role}}</span>
                </div> -->
              </div>
              <div class="card-text" *ngFor="let managerTask of managersTask">
                <div *ngIf="assignedStaff.id == managerTask.managerId">
                  Total Licenses:
                  <span class="card-text text-muted">{{managerTask.totalManagerLicence}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Unassigned -->

        <div>
          <br>
          <h5 style="text-align:center">Unassigned {{empORmanager}}</h5>
          <hr>
        </div>
        <div *ngFor="let unassignedStaff of Unassigned; let i = index">
          <div class="card" style="padding: 1em;">
            <div class="card" style="padding: 10px;" *ngIf="empORmanager == 'Managers'">
              <span class="card-text">Add License
                <span>
                  <button (click)="btnSubstract(unassignedStaff)">-</button>
                  <input type="number" class="text-muted" [(ngModel)]="unassignedStaff.license">
                  <button (ngValue)="unassignedStaff.license" (click)="btnAdd(unassignedStaff)">+</button>
                </span>
              </span>
              <br>
              <span class="card-text">Expiry Date:
                <input type="date" [(ngModel)]="unassignedStaff.expiredOn">
              </span>
            </div>

            <div>
              <div>
                <span>
                  <input type="checkbox" [(ngModel)]="unassignedStaff.checkValue" style="height: 30px; width: 30px; float:right; margin-top: 1em;">
                </span>
              </div>
              <div class="card-text">
                Name:
                <span class="card-text text-muted">{{unassignedStaff.fullName}}</span>
              </div>
              <div *ngFor="let roleInfo of unassignedStaff.roleInfo">
                <div class="card-text">
                  Department:
                  <span class="card-text text-muted">{{roleInfo.department}}</span>
                </div>
                <!-- <div class="card-text">
                  Role:
                  <span class="card-text text-muted">{{roleInfo.role}}</span>
                </div> -->
              </div>
            </div>

          </div>
        </div>
      </div>
      <br>
      <button class="style-btn" (click)="btnClick()">Assign</button>
    </div>
  </div>

</div>