hr {
    height: 2px;
    background-color: gray;
    border: none;
    width: 65%;
  }
  
  .shift {
    margin-top: 5em;
  }
  
  .change {
    font-weight: bold;
  }
  
  .btn-self {
    padding: 0.8em 1.8em;
    background-color: darkslategray;
    border-radius: 5px;
     
  }
  
  .btn-self {
    color: white;
    text-decoration: none;
  }
  
  .btn-self:hover {
    background-color: grey;
  }
  .fat {
    font-weight: bold;;
  }
  .move {
    padding: 2em;
    text-decoration: none;
    color: darkslategray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
  }
  .move a {
    text-decoration: none;
    color: darkslategray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
  }
  .move a:hover {
    text-decoration: underline;
    color: darkslategray; 
  } 
  .makeChange {
    background-color: darkslategray;
    color: white;
    border: none;
  }
  .makeChange:hover {
    background-color: grey;
    color: white;
  }
