
<!-- Sidebar -->
<div class="sidenav" style="margin-top: 3.2em;">
    <a class="sidenav-items" routerLink="departments" style="font-size: 20px;">Departments</a>
    <a class="sidenav-items" routerLink="employees" style="font-size: 20px;">Employees</a>
    <a class="sidenav-items" routerLink="subscriptions" style="font-size: 20px;">Subscriptions</a>
    <a class="sidenav-items" routerLink="../category" style="font-size: 20px;">Categories</a>
    <a class="sidenav-items" routerLink="my-courses" style="font-size: 20px;">My Courses</a>
</div>

<router-outlet></router-outlet>