/* Header CSS */

.change-text {
    font-weight: bolder;
    color: darkcyan;
  }
  
  .item-hover:hover {
    background-color: darkcyan;
    color: white;
  }
  
  .nav-item {
    padding: 0 0.5em 0 0.5em;
  }
  
  .dropdown-toggle {
    margin-top: 0.3em;
  }
  
  .style-btn {
    text-align: right;
    padding: 0.08em 2em;
    background-color: darkslategray;
    border-radius: 5px;
    margin-left: 25px;
    border: none;
    color: gray;
  }
  
  .style-btn:hover {
    background-color: gray;
    color: white;
  }
  
.nav {
  margin-top: 0.5em;
}


/* Sidebar CSS */

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    margin-top: 4em;
    height: 90%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: darkcyan;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
  

/* Footer CSS */

.white-text {
    text-align: center;
    color: white;
}

.footer {
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}