.card {
    background-color: lightgray;    
    }

hr {
    height: 2px;
    background-color: gray;
    border: none;
    width: 14em;
}

h2 {
    text-align: center;
}

.style-btn {
    text-align: right;
    padding: 0.9em 2em;
    background-color: darkslategray;
    border-radius: 5px;
    margin-left: 25px;
    border: none;
    color: gray;
  }
  
  .style-btn:hover {
    background-color: gray;
    color: white;
  }
