.card {
    background-color: lightgray;    
    }

hr {
    height: 2px;
    background-color: gray;
    border: none;
    width: 14em;
}

h2 {
    text-align: center;
}

.style-btn {
    text-align: right;
    padding: 0.4em 1.3em;
    background-color: white;
    border-radius: 5px;
    margin-left: 25px;
    border: 2px solid darkcyan;
    color: darkcyan;
  }
  
  .style-btn:hover {
    background-color: darkcyan;
    color: white;
  }
