<div class="container">


  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10" *ngIf="categoryData">
      <div>
        <h2>Courses</h2>
        <hr>
        <button *ngIf="role == 'sa'" class="style-btn" (click)="addCourse()" style="padding: 1em 2em" routerLink="add-courses">Add Courses</button>
      </div>
      <div class="row" style="margin-top: 1em">
        <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let course of courses; let i = index;">
          <div class="card">
            <img class="card-img-top" *ngIf="course.image" src="{{course.image}}">
            <img class="card-img-top" *ngIf="!course.image" src="" alt="No Image Found">
            <div class="card-block">
              <a routerLink="../{{course.courseId}}/chapters">
                <h4 class="card-title">{{course.course}}</h4>
              </a>
              <p class="card-text text-muted description" style="font-size: 0.8em;" *ngIf="course.description">{{course.description}}</p>
              <p class="card-text text-muted description" style="font-size: 0.8em;" *ngIf="!course.description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div class="card-text" style="color: black">Duration:
                <span class="card-text text-muted" style="font-size: 0.9em;" *ngIf="course.duration">{{course.duration}}</span>
                <span class="card-text text-muted" style="font-size: 0.9em;" *ngIf="!course.duration">N/A</span>
              </div>
            </div>
            <div *ngIf="role == 'sa'">
              <span>
                <button type="button" class="style-btn btn btn-cyan" (click)="editCourse(course)" routerLink="add-courses" data-toggle="tooltip" data-placement="bottom" title="Edit" style="margin-left: 1.5em">
                  <fa name="pencil-square-o" class="trash-border" size="x"></fa>
                </button>
                <button type="button" class="style-btn btn  btn-red" (click)="btnDelete(course.courseId,i)" data-toggle="tooltip" data-placement="bottom" title="Delete" style="float:right; margin-right: 1.5em">
                  <fa name="trash-o" class="trash-border" size="x"></fa>
                </button>
              </span>
              <span>
                
              </span>
            </div>
            <div style="padding: none;" *ngIf="role == 'admin'">
              <span>
                <button class="style-btn" style="padding: 0.5em 0.8em" (click)="btnAddCart(course)">Add to Cart</button>
              </span>
              <span>
                <button class="style-btn" (click)="buyNow(course)" style="float:right">Buy Now</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>