
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>
        {{addORedit}} Course
      </h2>
      <hr>
      <form [formGroup]="addCourseForm" *ngIf="this.courseData">

        <!-- Course Name -->
        <div class="form-group">
          <label for="courseName">
            <span class="change">
              <span class="fat">|</span>Name</span>
          </label>
          <input type="text" class="form-control" formControlName="courseName" placeholder="Enter Name">
          <div *ngIf="addCourseForm.controls['courseName'].hasError('required') && addCourseForm.controls['courseName'].touched" class="alert alert-danger">
            <small>
              <i>You must include a Course Name.</i>
            </small>
          </div>
        </div>

        <!-- Course Description -->
        <div class="form-group">
          <label for="courseDescription">
            <span class="change">
              <span class="fat">|</span>Description</span>
          </label>
          <input type="text" class="form-control" formControlName="courseDescription" placeholder="Enter Description">
          <div *ngIf="addCourseForm.controls['courseDescription'].hasError('required') && addCourseForm.controls['courseDescription'].touched"
            class="alert alert-danger">
            <small>
              <i>You must include a Course Description.</i>
            </small>
          </div>
        </div>

        <!-- Course Cost -->
        <div class="form-group">
            <label for="courseCost">
              <span class="change">
                <span class="fat">|</span>Cost</span>
            </label>
            <input type="number" class="form-control" formControlName="courseCost" placeholder="Enter Cost">
            <div *ngIf="addCourseForm.controls['courseCost'].hasError('required') && addCourseForm.controls['courseCost'].touched"
              class="alert alert-danger">
              <small>
                <i>You must include a Course Cost.</i>
              </small>
            </div>
          </div>

        <!-- Upload Course Image -->
        <div class="form-group">
          <label for="courseImage">
            <span class="change">
              <span class="fat">|</span>Upload Image</span>
          </label>
          <div>
            <input type="file" accept="image/*" (change)="fileUpload($event)">
            <img src="{{image}}" style="width: 6em; height: 6em;">
          </div>
        </div>
        <button type="button" class="style-btn" (click)="btnClick()">Submit</button>
      </form>
    </div>

    <div class="col-md-2" *ngIf="addORedit === 'Add'">
      <div class="form-group">
        <label for="selectCategory" class="text-muted">Select Category</label>
        <select class="form-control" [(ngModel)]="categoryId">
          <option *ngFor="let category of categoryData" [ngValue]="category.courseCategoryId">{{category.category}}</option>
        </select>
      </div>
    </div>
  </div>

</div>