<!-- <nav class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Sidebar-Menu</h3>
    </div>
    <ul class="list-unstyled components">
      <li class="list-active" (click)="btnDepartments">Departments</li>
      <li class="list-active" (click)="btnEmployees">Employees</li>
      <li class="list-active">Categories</li>
      <li class="list-active" (click)="btnSubscriptions()">Subscriptions</li>
    </ul>
  </nav>
</nav>
 -->


 <div class="sidenav">
    <a (click)="btnDepartments()">Departments</a>
    <a (click)="btnEmployees()">Employees</a>
    <a (click)="btnSubscriptions()">Subscriptions</a>
    <a >Categories</a>
  </div>
  