.change-text {
  font-weight: bolder;
  color: darkcyan;
}

.item-hover:hover {
  background-color: darkcyan;
  color: white;
}

.nav-item {
  padding: 0 0.5em 0 0.5em;
}

.dropdown-toggle {
  margin-top: 0.3em;
}

.style-btn {
  text-align: right;
  padding: 0.08em 2em;
  background-color: darkslategray;
  border-radius: 5px;
  margin-left: 25px;
  border: none;
  color: gray;
}

.style-btn:hover {
  background-color: gray;
  color: white;
}

.nav {
  margin-top: 0.5em;
}


