<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Template 3</h3>
      <hr>
      <form [formGroup]="templateThreeForm">
        <div class="card" style="background-color: lightgray;">
          <h5 style="text-align: center;">CASE STUDIES</h5>

          <!-- **************** Top Image **************** -->
          <div class="card">
            <div class="form-group">
              <label for="topImage">
                <span class="change">
                  <span class="fat">|</span>Top Image</span>
              </label>
              <div>
                <input type="file" accept="image/*" (change)="fileUpload($event, 'topImageFile')">
              </div>
            </div>
          </div>
          <!-- **************** End of Top Image **************** -->

          <!-- **************** Background **************** -->
          <div class="card">
            <div class="form-group">
              <label for="background">
                <span class="change">
                  <span class="fat">|</span>Background
                </span>
              </label>
              <input type="text" formControlName="background" class="form-control" placeholder="Type Here ...">
            </div>
            <div *ngIf="templateThreeForm.controls['background'].hasError('required') && templateThreeForm.controls['background'].touched" class="alert alert-danger">
              <small>
                <i>You must include a Background</i>
              </small>
            </div>
            <!-- Background Image -->
            <div class="form-group">
              <label for="backgroundImage">
                <span class="change">
                  <span class="fat">|</span>Background Image</span>
              </label>
              <div>
                <input type="file" accept="image/*" (change)="fileUpload($event, 'backgroundImageFile')">
              </div>
            </div>
            <!-- End of Background Image -->
          </div>

          <!-- **************** Issue **************** -->
          <div class="card">
            <div class="form-group">
              <label for="issue">
                <span class="change">
                  <span class="fat">|</span>Issue
                </span>
              </label>
              <input type="text" formControlName="issue" class="form-control" placeholder="Type Here ...">
            </div>
            <div *ngIf="templateThreeForm.controls['issue'].hasError('required') && templateThreeForm.controls['issue'].touched" class="alert alert-danger">
              <small>
                <i>You must include an Issue</i>
              </small>
            </div>

            <!-- Issue Image -->
            <div class="form-group">
              <label for="issueImage">
                <span class="change">
                  <span class="fat">|</span>Issue Image</span>
              </label>
              <div>
                <input type="file" accept="image/*" (change)="fileUpload($event, 'issueImageFile')">
              </div>
            </div>
            <!-- End of Issue Image -->
          </div>

          <!-- **************** Incident **************** -->
          <div class="card">
            <div class="form-group">
              <label for="incident">
                <span class="change">
                  <span class="fat">|</span>Incident
                </span>
              </label>
              <input type="text" formControlName="incident" class="form-control" placeholder="Type Here ...">
            </div>
            <div *ngIf="templateThreeForm.controls['incident'].hasError('required') && templateThreeForm.controls['incident'].touched" class="alert alert-danger">
              <small>
                <i>You must include an Incident</i>
              </small>
            </div>

            <!-- Incident Image -->
            <div class="form-group">
              <label for="incidentImage">
                <span class="change">
                  <span class="fat">|</span>Incident Image</span>
              </label>
              <div>
                <input type="file" accept="image/*" (change)="fileUpload($event, 'incidentImageFile')">
              </div>
            </div>
            <!-- End of Incident Image -->
          </div>

          <!-- **************** Decision **************** -->
          <div class="card">
            <div class="form-group">
              <label for="decision">
                <span class="change">
                  <span class="fat">|</span>Decision
                </span>
              </label>
              <input type="text" formControlName="decision" class="form-control" placeholder="Type Here ...">
            </div>
            <div *ngIf="templateThreeForm.controls['decision'].hasError('required') && templateThreeForm.controls['decision'].touched" class="alert alert-danger">
              <small>
                <i>You must include a Decision</i>
              </small>
            </div>

            <!-- Decision Image -->
            <div class="form-group">
              <label for="decisionImage">
                <span class="change">
                  <span class="fat">|</span>Decision Image</span>
              </label>
              <div>
                <input type="file" accept="image/*" (change)="fileUpload($event, 'decisionImageFile')">
              </div>
            </div>
            <!-- End of Decision Image -->
          </div>

          <!-- **************** Conclusion **************** -->
          <div class="card">
            <div class="form-group">
              <label for="conclusion">
                <span class="change">
                  <span class="fat">|</span>Conclusion
                </span>
              </label>
              <input type="text" formControlName="conclusion" class="form-control" placeholder="Type Here ...">
            </div>
            <div *ngIf="templateThreeForm.controls['conclusion'].hasError('required') && templateThreeForm.controls['conclusion'].touched" class="alert alert-danger">
              <small>
                <i>You must include a Conclusion</i>
              </small>
            </div>

            <!-- Conclusion Image -->
            <div class="form-group">
              <label for="conclusionImage">
                <span class="change">
                  <span class="fat">|</span>Conclusion Image</span>
              </label>
              <div>
                <input type="file" accept="image/*" (change)="fileUpload($event, 'conclusionImageFile')">
              </div>
            </div>
            <!-- End of Conclusion Image -->
          </div>
          <p>
            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              <h5 data-toggle="tooltip" data-placement="bottom" title="Click to show Questionarre Set">QUESTIONNARE SET</h5>
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <div formArrayName="questionnareSet">
              <div class="card" *ngFor="let questionnare of templateThreeForm.controls.questionnareSet.controls; let i = index" [formGroupName]="i">
                <button type="button" (click)="deleteQuestionnareSet(i)" [disabled]="templateThreeForm.controls.questionnareSet.controls.length == 1"
                  class="style-btn" style="padding: 0.5em 0.8em; border-radius: 50%; position: absolute; right: -0.7em; top: -1.4em">
                  <fa name="close" style="color: white"></fa>
                </button>
                <!-- ***************** Heading ***************** -->
                <div class="form-group">
                  <label for="heading">
                    <span class="change">
                      <span class="fat">|</span>Heading
                    </span>
                  </label>
                  <input type="text" formControlName="heading" class="form-control" placeholder="Type Here ...">
                </div>
                <!-- ***************** End of Heading ***************** -->

                <!-- ***************** Questions ***************** -->

                <div formArrayName="questions">
                  <h5>Questions</h5>
                  <div class="card" style="background-color: lightgray" *ngFor="let question of templateThreeForm.controls.questionnareSet.controls[i].controls.questions.controls; let j = index"
                    [formGroupName]="j">
                    <button type="button" (click)="deleteQuestions(i, j)" [disabled]="templateThreeForm.controls.questionnareSet.controls[i].controls.questions.controls.length == 1"
                      class="style-btn" style="padding: 0.5em 0.8em; border-radius: 50%; position: absolute; right: -0.7em; top: -1.4em">
                      <fa name="close" style="color: white"></fa>
                    </button>

                    <!-- Question -->
                    <div class="form-group">
                      <label for="question">
                        <span class="change">
                          <span class="fat">|</span>Question
                        </span>
                      </label>
                      <input type="text" class="form-control" formControlName="question" placeholder="Type Here ...">
                    </div>

                    <!-- End of Question -->

                    <!-- Type -->
                    <div class="form-group">
                      <label for="type">
                        <span class="change">
                          <span class="fat">|</span>Type
                        </span>
                      </label>
                      <div>
                        <input type="radio" value="SINGLECHOICE" formControlName="type" (click)="onChange('single')">
                        <span class="radioInline">Single-Choice</span>
                        <input type="radio" value="MULTIPLECHOICE" formControlName="type" (click)="onChange('multiple')" style="margin-left: 2em">
                        <span class="radioInline">Multiple-Choice</span>
                      </div>
                    </div>
                    <!-- End of Type -->

                    <!-- ***************** Options ***************** -->
                    <div formArrayName="options">
                      <div class="card" *ngFor="let option of templateThreeForm.controls.questionnareSet.controls[i].controls.questions.controls[j].controls.options.controls; let k = index"
                        [formGroupName]="k">
                        <button type="button" (click)="deleteOptions(i, j, k)" *ngIf="templateThreeForm.controls.questionnareSet.controls[i].controls.questions.controls[j].controls.options.controls.length > 2"
                          class="style-btn" style="padding: 0.5em 0.8em; border-radius: 50%; position: absolute; right: -0.7em; top: -1.4em">
                          <fa name="close" style="color: white"></fa>
                        </button>
                        <h6 style="text-align: center">Option {{k + 1}}</h6>
                        <!-- Answer -->
                        <div class="form-group">
                          <label for="answer">
                            <span class="change">
                              <span class="fat">|</span>Answer
                            </span>
                          </label>
                          <input type="text" class="form-control" formControlName="answer" placeholder="Type Here ...">
                        </div>
                        <!-- End of Answer -->

                        <!-- Correct -->
                        <div class="form-group">
                          <label for="correct">
                            <span class="change">
                              <span class="fat">|</span>Correct
                            </span>
                          </label>
                          <div>
                            <input type="radio" value="true" formControlName="correct">
                            <span class="radioInline">True</span>
                            <input type="radio" value="false" formControlName="correct" style="margin-left: 2em">
                            <span class="radioInline">False</span>
                          </div>
                        </div>
                        <!-- End of Correct -->

                        <!-- Description -->
                        <div class="form-group">
                          <label for="description">
                            <span class="change">
                              <span class="fat">|</span>Description
                            </span>
                          </label>
                          <input type="text" class="form-control" formControlName="description" placeholder="Type Here ...">
                        </div>
                        <!-- End of Description -->

                      </div>
                    </div>

                    <br>
                    <div ng-style="float: right">
                      <button type="button" class="style-btn" (click)="addOptions(i, j)" style="width: 25%">Add More</button>
                    </div>

                    <!-- ***************** End of Options ***************** -->

                  </div>
                </div>
                <!-- ***************** End of Questions ***************** -->
                <br>
                <button type="button" class="style-btn" style="width: 25%" (click)="addQuestions(i)">Add More</button>
              </div>
            </div>
            <br>
            <button type="button" class="style-btn" style="width: 25%" (click)="addQuestionnareSet()">Add More</button>
          </div>
        </div>
        <br>
        <button type="button" (click)="btnSubmit()" class="style-btn" style="padding: 0.8em 2.3em">
          Submit
        </button>

      </form>
    </div>
  </div>
</div>