<app-header></app-header>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-3" >
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-md-9">
        <div class="template">
          <h1>
            <span style="font-weight: bolder;">|</span>&nbsp;Template 1</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa rerum nisi quaerat quia cupiditate, quo repudiandae
            eaque amet ad, eum cum ipsam nesciunt dicta consectetur voluptatibus deserunt? Mollitia harum reiciendis odio quasi.
            Deleniti dolor similique reprehenderit molestiae ab quod facilis? Rerum distinctio nulla saepe. Enim similique
            ratione eligendi quis eos.</p>
        </div>
        <div class="template">
          <h1>
            <span style="font-weight: bolder;">|</span>&nbsp;Template 2</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa rerum nisi quaerat quia cupiditate, quo repudiandae
            eaque amet ad, eum cum ipsam nesciunt dicta consectetur voluptatibus deserunt? Mollitia harum reiciendis odio quasi.
            Deleniti dolor similique reprehenderit molestiae ab quod facilis? Rerum distinctio nulla saepe. Enim similique
            ratione eligendi quis eos.</p>
        </div>
        <div class="template">
          <h1>
            <span style="font-weight: bolder;">|</span>&nbsp;Template 3</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa rerum nisi quaerat quia cupiditate, quo repudiandae
            eaque amet ad, eum cum ipsam nesciunt dicta consectetur voluptatibus deserunt? Mollitia harum reiciendis odio quasi.
            Deleniti dolor similique reprehenderit molestiae ab quod facilis? Rerum distinctio nulla saepe. Enim similique
            ratione eligendi quis eos.</p>
        </div>
      </div>
    </div>
    
  </div>
  <app-footer></app-footer>